@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&family=Oswald:wght@200..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}

:root {
  --bg--color: #f1f1f1;
  --bg--secondary: #fbfbfb;
  --dark-gray: #333;
  --light-brown: #c7a17a;
  --black: #1f2226;
  --shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  color: var(--dark-gray);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}
